header{
	@include outer-container();
	.logo{
	@include span-columns(12);
	img{
		width:50%;
		height: auto;
		max-width:100%;
	}//img
	@include media($desktop-up){
		@include span-columns(4);
		img{
			width:100%;
			max-width:100%;
		}
	}
}//logo

    nav.greedy-nav{
	@include span-columns(12);
	
	 @include media($desktop-up){
	 	@include span-columns(8);
	 }
}//nav
}//header


