@font-face {
    font-family: 'Asap';
    src: url('../fonts/asap-bold-webfont.eot');
    src: url('../fonts/asap-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/asap-bold-webfont.woff') format('woff'),
         url('../fonts/asap-bold-webfont.ttf') format('truetype'),
        url('../fonts/asap-bold-webfont.svg#asapbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Asap';
    src: url('../fonts/asap-bolditalic-webfont.eot');
    src: url('../fonts/asap-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/asap-bolditalic-webfont.woff') format('woff'),
         url('../fonts/asap-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/asap-bolditalic-webfont.svg#asapbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Asap';
    src: url('../fonts/asap-italic-webfont.eot');
    src: url('../fonts/asap-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/asap-italic-webfont.woff') format('woff'),
         url('../fonts/asap-italic-webfont.ttf') format('truetype'),
         url('../fonts/asap-italic-webfont.svg#asapitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Asap';
    src: url('../fonts/asap-regular-webfont.eot');
    src: url('../fonts/asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/asap-regular-webfont.woff') format('woff'),
         url('../fonts/asap-regular-webfont.ttf') format('truetype'),
         url('../fonts/asap-regular-webfont.svg#asapregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
 

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight:400;
  font-style: normal;
}
h1{
  font-size: modular-scale(2);
}
h2{
  font-size: modular-scale(1);
}
h3{
  font-size: modular-scale(1);
}
h4{
  font-size: modular-scale(1);
}
h5{
  font-size: modular-scale(1);
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
